/*& font family ----> */
@font-face {
    font-family: cabin;
    src: url(../fonts/Cabin-Regular-TTF.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: cabin;
}

html,
body {
    height: 100%;
    width: 100%;
}

/*! Roots ----> */

:root {
    --first-color: #0C356A;
    --second-color: #0174BE;
    --third-color: #FFC436;
    --fourth-color: #FFF0CE;
    --5th-color: #ffe00b;
}

/*^ Navigation  */

.logo {
    width: 8vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.upperMain {
    height: 100vh;
    width: 100%;
    position: relative;
}

.cursor {
    position: fixed;
    height: 10px;
    width: 10px;
    background-color: black;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none;
    z-index: 99;
}

.logo h2 {
    font-size: 2.6vw;
    cursor: default;
}

.logo .navLogo {
    height: 5vw;
    width: 5vw;
    object-fit: cover;
    object-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    width: 100%;
    padding: 1.5vw 2vw;
    position: fixed;
    z-index: 3;
    background-color: var(--fourth-color);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-size: 1.4vw;
    padding: 2px 4px;
    margin: 0 1vw;
    border-bottom: 2px solid transparent;
    position: relative;
}

.navbar a:hover {
    /* border-bottom: 2px solid #000; */
    color: #0C356A;
}

.navbar a:nth-last-child(1) {
    padding: 0.6vw 2vw;
    border-radius: 50px;
    border: 2px solid #000;
    position: relative;
    overflow: hidden;
}

.navbar a:nth-last-child(1) .overlay {
    height: 100%;
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--third-color);
    z-index: -1;
    transition: .4s ease;
}

.navbar a:nth-last-child(1) h4 {
    font-weight: 100;
    font-family: cabin;
}

.navbar a:nth-last-child(1):hover .overlay {
    width: 100%;
}

.normal-link::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: 0;
    border-bottom: 2px solid #000;
    transition: .4s ease;
}
.normal-link:hover::before {
    width: 100%;
}

/** Hero Section */

.contentMain {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: var(--fourth-color);
    display: flex;
}

.contentMain .textMain {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 5vw;
    position: relative;
}

.textMain h1:first-child {
    font-size: 3vw;
    color: var(--third-color);
}

.textMain .clg-name {
    font-size: 5vw;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.btn {
    background: #fffcd5;
    box-shadow: 4px 4px var(--third-color), 9px 9px #151515;
    color: #151515;
    border: solid 2px #151515;
    text-decoration: none;
    padding: 1vw 2vw;
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
    font-size: 1.4vw;
    font-weight: 900;
    position: relative;
    z-index: 1;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    cursor: pointer;
    overflow: hidden;
    transition-delay: 0s !important;
    text-transform: uppercase !important;
    letter-spacing: 1.5px;
    /* font-family: freight-sans-pro, sans-serif; */
}

.btn::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #151515;
    z-index: -1;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.btn:hover::before {
    width: 100%;
    right: 0;
    left: unset;
}

.btn:hover {
    box-shadow: 0 0 #ffe00b, 0 0 #151515;
    color: white;
}
.img-div {
    height: 100vh;
    width: 50%;
    position: relative;
    display: grid;
    place-items: center;
}
.img-div .landing-img {
    height: 20vw;
    width: 80%;
    background-color: red;
    border-radius: 1vw;
    overflow: clip;
}
.img-div .landing-img img {
    height: 100%;
    width: 100%;
}


/** Card Section  */

.cards {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.card {
    margin: 5vw 2vw;
    padding: 8px 25px;
    text-align: center;
    background-color: var(--third-color);
    border: 2px;
    border-radius: 16px;
    height: 35vh;
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card .card-head {
    font-size: 2vw;
}

.card .card-text {
    font-size: 1.1vw;
}