@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600&family=Mooli&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}
html, body {
    height: 100%;
    width: 100%;
}

/*^ Navigation  */
.logo {
    width: 8vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo h2 {
    font-size: 2vw;
}
.logo .navLogo{
    height: 5vw;
    width: 5vw;
    object-fit: cover;
    object-position: center;
}
.upperMain {
    height: 100px;
    width: 100%;
    padding: 1vw 2vw;
}