/*& font family -----> */
@font-face {
    font-family: cabin;
    src: url(../fonts/Cabin-Regular-TTF.ttf);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: cabin;
}
html, body {
    height: 100%;
    width: 100%;
}
/*! Roots ---->  */
:root {
    --first-color: #0C356A;
    --second-color: #0174BE;
    --third-color: #FFC436;
    --fourth-color: #FFF0CE;
}

/*^ Navigation  */
.logo {
    width: 8vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.upperMain {
    height: 200vh;
    width: 100%;
    position: relative;
}
.logo h2 {
    font-size: 2.6vw;
}
.logo .navLogo{
    height: 5vw;
    width: 5vw;
    object-fit: cover;
    object-position: center;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    width: 100%;
    padding: 1.5vw 2vw;
    position: fixed;
    background-color: var(--fourth-color);
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navbar a {
    text-decoration: none;
    color: black;
    font-size: 1.4vw;
    margin: 1vw;
}
.navbar a:nth-last-child(1) {
    padding: 0.6vw 2vw;
    border-radius: 50px;
    border: 1px solid #000;
    position: relative;
    overflow: hidden;
}
.navbar a:nth-last-child(1) .overlay {
    height: 100%;
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--third-color);
    z-index: -1;
    transition: .4s ease;
}
.navbar a:nth-last-child(1) h4 {
    font-weight: 100;
    font-family: cabin;
}
.navbar a:nth-last-child(1):hover .overlay {
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
}

